.container-fluid {
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/download.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  .navbar {
    border-bottom: 2px solid rgba(238, 4, 25, 0.3);
    padding: 0px 5vw;
    background: #333;
    color: white;
    img {
      width: 7rem;
      cursor: pointer;
      outline: none;
    }
    .menu {
      display: flex;
      align-items: center;
      img {
        margin-top: 20px;
        display: none;
      }
      a {
        padding: 0 20px;
        position: relative;
        color: white;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
        &:hover::after {
          width: 50%;
        }
        &::after {
          content: "";
          display: block;
          width: 0%;
          background: #ee0419;
          height: 2px;
          margin: 0 auto;
          transition: 0.3s all;
        }
      }
      .active {
        &::after {
          content: "";
          display: block;
          width: 50%;
          background: #ee0419;
          height: 2px;
          margin: 0 auto;
        }
      }
    }
  }
  .hamburger {
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s all;
    .bar1 {
      height: 4px;
      width: 40px;
      display: block;
      background: red;
      transform: translateY(-7px);
      transition: 0.3s all;
    }
    .bar2 {
      height: 3px;
      width: 40px;
      display: block;
      background: red;
      transition: 0.3s all;
    }
    .bar3 {
      height: 4px;
      width: 40px;
      display: block;
      background: red;
      transition: 0.3s all;
      transform: translateY(7px);
    }
    .bar1.bars {
      transform: rotate(40deg);
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    }
    .bar2.bars {
      transform: rotate(-40deg) translateY(-4px);
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    }
    .bar3.bars {
      opacity: 0;
    }
  }
}

@media (max-width: 992px) {
  .hamburger {
    display: flex !important;
  }
  .menu {
    position: absolute;
    z-index: 9999;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    border-left: 1px solid #ee0419;
    flex-direction: column;
    top: 5rem;
    right: 0;
    a {
      margin: 2rem 0;
      font-size: 1.7rem !important;
    }
    img {
      display: block !important;
    }
  }
}
