.content {
  margin-top: 2rem;
  .card {
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 2px solid red;
    h4 {
      margin: 10px 0;
      background: linear-gradient(rgb(255, 0, 0), rgb(47, 28, 28));
      color: transparent;
      background-clip: text;
    }
    a {
      text-decoration: none;
      transition: 0.3s all;
      color: white;
      &:hover {
        color: rgba(206, 101, 101, 0.801);
      }
    }
    span {
      font-weight: 400;
      font-size: 1.3rem;
      color: white;
    }
  }
}

@media (max-width: 425px) {
  .card {
    padding: 10px !important;
  }
}
