.content {
  padding-top: 10vh;
  .col-4 {
    height: 500px;
    margin-bottom: 20px;
  }
  .title {
    padding-bottom: 5vh;
    color: white;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    span {
      color: #ee0419;
    }
  }
}
